@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Regular.eot');
	src: local('../fonts/Acrom Regular'), local('fonts/Acrom-Regular'),
		url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Acrom-Regular.woff') format('woff'),
		url('../fonts/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    background: linear-gradient(to bottom, #FAD961, #F76B1C);
    font-family: acrom;
}

.logo{
	padding-top: 70%;
	text-align: center;
}
.logo img{
	margin-bottom: 30px;
	height: 230px;
}
.logo p{
	font-size: 2rem;
	color: white;
}

.data{
	text-align: center;
}

.data-input{
	background-image: url('../img/input-button.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	height: 130px;
	width: 550px;
	margin: 0 auto;
}
.data-input input{
	margin-top: 16px;
	height: 70px;
	width: 400px;
	font-size: 2rem;
	border: none;
	outline: none;
}
.data-input input:focus{
	border: none;
}

.data-submit{
	background-image: url('../img/submit-button.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	height: 117px;
	width: 300px;
	margin: 0 auto;
}

.data-submit input{ 
	margin-top: 10px;
	height: 80px;
	width: 230px;
	background: none;
	font-size: 2rem;
	border: none;
	outline: none;
}

nav {
	display: flex; 
	justify-content: space-between;
}

.nav-logo img{
	height: 110px;
	margin-top: 40px;
}
.nav-left{
	width: 100px;
}
.nav-right{
	width: 100px;
}

.nav-left i{
	position: absolute;
	font-size: 6rem;
	color: white;
	top: 72px;
	left: 75px;
}

.nav-right img{
	position: absolute;
	height: 90px;
	top:58px;
	right: 75px;
}

.statistic{
	background-image: url("../img/big-board.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	margin: 0 auto;
}

.statistic h3{
	text-align: center;
}
.ct-chart{
	height: 350px;
	text-align: center;
}

.day{
	display: flex;
}
.day h2{
	font-size: 4rem;
}

.night{
	display: flex;
}
.night h2{
	font-size: 4rem;
}

.price_information{
	width: 700px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}

.new_cart{
	background-image: url("../img/news.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	margin: 0 auto;
	width: 700px;
}

.filters{
	display: -webkit-inline-flex;
	display: inline-flex;
}

.filters p{
	background-color: #F76B1C;
	border-radius: 30%;
	width: 110px;
	text-align: center;
}

.new{
	padding-left: 60px;
	padding-top: 5px;
}

footer{
	background-image: url("../img/footer.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	margin: 0 auto;
	height: 257px;
}

.footer-menu{
	display: flex;
	justify-content: space-around;
	width: 1000px;
	margin:0 auto;
	padding-top: 80px;
}

.footer-menu img{
	height: 60px;
}

.footer-card{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer-card span{
	font-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
}
html,

body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.found{
	
}

.price_information h2{
	color: #F76B1C;
}

.enter{
	background-image: url('../img/enter.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	width: 500px;
	height: 60px;
	margin: 0 auto;
}

.enter input{ 
	margin: 0 auto;
	margin-top: 10px;
	background: none;
	font-size: 1.6rem;
	color: white;
	border: none;
	outline: none;
	padding-left: 130px; 
	text-align: center;
}
